# TITLE: Data Science Tools and Ecosystem

In [ ]:
In this notebook, Data Science Tools and Ecosystem are summarized.

###### Datascience languages:

    1.C/C++
    
    2.SQL
    
    3.Java
    
    4.Python
    
    5.R
    
    6.SAS
    
    7.Swift
    
    8.Julia
    
    9.Scala
    
    10.MATLAB

###### Datascience libraries:

1.Pandas

2.Numpy

3.Beautiful soup

4.SciKit-Learn

5.TensorFlow.

6.PyTorch

7.Seaborn

8.Mathplotlib

9.Pycaret

10.SQLalchemy


|Data Science Tools|
|------------------|       
|Apache Spark|
|            |        
|Apache Hadoop|
|             |         
|Python|
|                 |
|Microsoft PowerBI|
|                 |                
|SAS|
|                 |   
|Jupyter notebook|
|                |             
|Anaconda|
|                |       
|Tensor Flow|

### Few examples of Evaluating Arithmetic expressions in Python:

1.Addition

2.Multiplication

3.Subtraction 

4.Division

In [2]:
#Addition:
    
a=36;b=89

a+b

#Result: 125

125

In [24]:
#Multiplication:
    
(86+98)*8

#Result: 1472

1472

In [10]:
#Subtraction and Division:
    
(89-63)/13
#Result: 2.0

2.0

In [25]:
#Exponential form:
    
8**8

#Result: 16777216

16777216

In [12]:
#Division showing answer with decimails:

869789/8

#Result: 108723.625

108723.625

In [3]:
#This a simple arithmetic expression to mutiply then add integers.

(78*65)+98

# Result: 5168

5168

#Convert minutes to hours:

Mins =360;
Hrs = Mins/60;
print(str(Hrs))

# Result: 6hours

**Objectives**:

- Popular languages for Data Science.
- Data Science Tools.
- Listing Libraries.
- Arithmetic Expressions.
- Conversions.

## Author:

Vijaya.S