# TITLE: Mod2-Jupyternotebook-peer_review-assignment.ipynb

*"Assignment under module 2 of IBM Datascience certification about working on Jupyternotebook excercise and sending for peer review."*

###### Datascience languages:

    1.C/C++
    
    2.SQL
    
    3.Java
    
    4.Python
    
    5.R
    
    6.SAS
    
    7.Swift
    
    8.Julia
    
    9.Scala
    
    10.MATLAB

###### Datascience libraries:

1.Pandas

2.Numpy

3.Beautiful soup

4.SciKit-Learn

5.TensorFlow.

6.PyTorch

7.Seaborn

8.Mathplotlib

9.Pycaret

10.SQLalchemy

                            ###### DataScience Tools  
________________________________________________________________________________________________________________________________

| Apache Spark | Apache Hadoop | Python | Microsoft PowerBI | SAS | Jupyter notebook

###### Evaluating Arithmetic expressions in Python:

#Addition:
    
a=36;b=89

a+b

In [35]:
#Multiplication:
    
(86+98)*8

1472

In [22]:
#Subtraction and Division:
    
(89-63)/13

2.0

In [23]:
#Exponential form:
    
8**8

16777216

In [24]:
#Division showing answer with decimails:

869789/8

108723.625

In [36]:
#Multiply and add numbers
(78*65)+98

5168

In [33]:
a = 78
b = 36
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [32]:
#Convert minutes to hours:
Mins =180;
Hrs = Mins/60;

print(str(Hrs))

3.0

###### Objectives:

- Data modeling
- Data Staging
- Data Warehouse
- Data Mining/Visualization

Book : Getting Started with Data Science.


Author's name :  Dr. Murtaza Haider, PhD